.footer {
    background: hsla(219, 78%, 35%, 1);
    background: radial-gradient(circle, hsla(219, 78%, 35%, 1) 0%, hsla(345, 21%, 7%, 1) 100%);
    background: -moz-radial-gradient(circle, hsla(219, 78%, 35%, 1) 0%, hsla(345, 21%, 7%, 1) 100%);
    background: -webkit-radial-gradient(circle, hsla(219, 78%, 35%, 1) 0%, hsla(345, 21%, 7%, 1) 100%);

    > * {
        padding-bottom: 2.25em;
    }

    color: map-get($map: $brand-clr, $key: light);
    text-align: center;

    &__service {
        > * {
            padding-bottom: 1.5rem;
        }

        > * * {
            color: map-get($map: $brand-clr, $key: light);
            a {
                font-size: 1.5em;
                padding-bottom: 1.1rem;
            }
        }



        //service--areas
        &--areas {
            margin: 0 auto;
            max-width: 90vw;
        }
        //service--services
        &--services {
            &-list {
                li {
                    text-transform: capitalize;
                    &::before {
                        content: "\2022  ";
                    }
                }
            }
        }
        //service--contact

        @include breakpoint-up(medium) {
            display: flex;
            justify-content: center;
            // padding-left: 1rem;
            // padding-right: 1rem;

            > * {
                width:  33%;
            }

        }
    }

    //service--license
    &__service--license {
        @include breakpoint-up(medium) {
            display: flex;
            justify-content: center;
            > * {
                padding: 0 .34rem;
            }
        }
    }

    //service--warranty
    &__service--warranty {
        font-size: .75em;
        @include breakpoint-up(medium) {
            display: flex;
            justify-content: center;
            > * {
                padding: 0 .34rem;
            }
        }
    }

    //service--policy
    &__service--policy {
        margin: 0 auto;
        max-width: 85vw;
        &-heading {
            h3 {
                font-size: 1.1em;
            }
            padding-bottom: .21rem;
        }
        &-text {
            p {
                font-size: .7em;
            }
        }
    }

    //logo--large
    &__logo--large {
        
       img {
           max-width: 90vw;
       }
    }

    //&__copyright

    &__copyright {
        
        //CS font
        @include CSCopyrightFont();
    }







}
