// Responsiveness 
//mixins are imported from cs framework

.hide-on-mobile {
    @include breakpoint-down(medium) {
        display: none;
    }
}

.hide-on-desktop {
    @include breakpoint-up(large) {
        display: none;
    }
}

.hidden {
    opacity: 0;
}

@mixin links-style {

    a {            
        padding: 0 1.3rem 0 0;
        transition: all 300ms ease-in-out;
        &:hover {
            color: map-get($map: $brand-clr, $key: red);
        }
    }
}


a, a:visited, a:hover {
    font-size: $font-lg;
    color: map-get($map: $brand-clr, $key: light);

    &.active {
        color: map-get($map: $brand-clr, $key: light-blue);
    }
}