.home__hero {
    // height: calc(100vh + 15rem);
    
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr .25fr 1fr 1fr;
    grid-template-areas: 
        "nav"
        "heading"
        "."
        "sub-heading"
        "space"
    ;

    //spacing
    align-items: center;
    
    color: #fff;
    // margin-bottom: 100px;
    min-height: 100vh;
    overflow: hidden;
    position: relative;

    // transform: translateY(-$size-nav-height);
    z-index: -1;


    &--heading {
        grid-area: heading;
        font-size: 34px;
        text-align: right;
        justify-self: center;
        text-transform: capitalize;
        @include CSGlass-light;
        border-radius: 13px;
        padding: 1vh;
        color: map-get($map: $brand-clr, $key: light-blue);
        > img {
            max-width: 300px;
        }
    }

    &--sub-heading {
        grid-area: sub-heading;
        font-size: 34px;
        text-align: center;
        justify-self: center;
        text-transform: capitalize;
        @include CSGlass-light;
        border-radius: 13px;
        padding: 1vh;
    }

    &::before {
        position: absolute;
        content: " ";
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        @include CSGlass-dark;
        z-index: -1;
    }

     &--video {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        // bottom: 0;
        // right: 0;
        min-width: 100%;
        min-height: 100%;
        z-index: -2;

    }
}

.services {

    display: flex;
    flex-direction: column;
    min-height: 50vh;
    align-items: center;
    position: relative;


    &__heading {
        font-size: 48px;
        padding: 20px 0;
    }

    &__service {

        
      
        display: flex;
        flex-direction: column;
        // justify-content: space-around;
        padding: 3rem 0;
        
        color: map-get($map: $brand-clr, $key: dark);
        position: relative;
 
        &--card {
            @include CSCard(250px);
            
            display: grid;
            // grid-template-rows: repeat(5, 1fr);
            grid-template-rows: calc(var(--card-top-height) * .30) calc(var(--card-top-height) * .15) calc(var(--card-top-height) * .55) var(--card-bottom-height);
            grid-template-columns: 1fr;
            grid-template-areas:    "heading"
                                    "sub-heading"
                                    "art"
                                    "description"  
            ;
      

            align-items: center;
            justify-items: center;
            text-align: center;


            z-index: -3;
            margin: 2rem 0;
            
            
            
            &::before { //top 1/3 of the card
                @include CSGlass-light;
                z-index: -2;
                
            }
            &::after { //bottom 2/3 of the card 
                background-color: map-get($map: $brand-clr, $key: blue);
                z-index: -2;
            }

            &-heading {
                grid-area: heading;
                
            }

            &-sub-heading {
                grid-area: sub-heading;
            }

            &-art {
                grid-area: art;
                width: calc(var(--card-top-height)*.35);
            }

            &-description {
                grid-area: description;
                color: map-get($map: $brand-clr, $key: light);
            }

            
        }
    }

}

.home__testimonial {
    display: grid;
    grid-template-columns: repeat(auto-fill, 1fr);
    grid-template-rows: repeat( auto-fill, minmax(.5fr, 1fr));
    grid-template-areas:    "title"
                            
                            "review"
    ;
    
    align-items: center;
    padding: 2em 0;
    margin: 0 .5em;

    &--title {
        grid-area: title;
        justify-self: start;
        margin: 1rem;
        
    }

    &--review {
        grid-area: review;
        background-color: map-get($map: $brand-clr, $key: blue);
        padding: 3rem 0;
        color: map-get($map: $brand-clr, $key: light);
        border-radius: 13px;
        margin: 0 1em;
        // align-self: baseline;
        

        p {
            padding: 2em 1em ;
            
        }
        
        
        
        // &::before {
        //     content: open-quote;
        //     top: -2rem;
        //     display: inline;
        //     font-size: 4em;
        // }

    }

    &--img {
        grid-area: review;
        justify-self: flex-end;
        align-self: flex-end;
        transform: translateY(50%);
        
    }
}

.home__cta {
    margin: 3rem 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    padding: 2rem 0;
    position: relative;


    @include CSBefore ("../images/pipes.png");


    background-color: rgba(map-get($map: $brand-clr, $key: blue), .85);
    color: map-get($map: $brand-clr, $key: light);

    > * * {
        a {
            font-size: 1.2em;
            transition: color 200ms ease-in-out;
            &:hover {
                color: map-get($map: $brand-clr, $key: light-blue);
            }
        }
        
        
        padding: 2rem;
        color: map-get($map: $brand-clr, $key: light);
    }

    
}

.social {
    // padding: 2em 0;
    

    
    &__heading {
        text-align: center;
        display: flex;
        justify-content: space-around;
        padding: 1em .5em;
    }
    &__links {
        display: flex;
        justify-content: space-evenly;
        padding: 1em 0;
        
        &--google {
            a {
                color: map-get($map: $google-clr, $key: green);
            }
        }
        &--yelp {
            a {
                color: map-get($map: $yelp-clr, $key: red);
            }
        }
        &--facebook {
            a {
                color: map-get($map: $facebook-clr, $key: blue);
            }
        }
        &--instagram {
            a {
                color: map-get($map: $instagram-clr, $key: violet);
            }
        }
    }
}