.nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 89px;
    background-color: transparent;
    
    

    &__logo {
        a {
            display: flex;
            align-self: center;
        }
        img {
            // max-width: 18rem;
            max-width: $size-nav-height;
        }
    }

    &__menu {

        > span {
            display: block;
            width: 34px;
            height: 2px;
            background-color: $clr-xiketic;

            &:not(:last-child) {
                margin-bottom: 8px;
            }
        }
    }

    &__links {
        a {
            font-size: $font-lg
        }
    }

    &__cta-button {
         color: map-get($map: $brand-clr, $key: light);
    }

}

.home__hero {
    transform: translateY(-$size-nav-height);
    z-index: -1;
}