.services {
    display: flex;

    &__header {
        display: grid;

        @include CSBefore;

        &::before {
            background: rgba(0, 0, 0, 0.678);
            z-index: 2;
        }

        grid-template-columns: 1fr;
        // grid-template-rows: .5fr 1fr 1fr 1fr;
        grid-template-rows: repeat(auto-fit, minmax(100px, auto-fit)) ;
        // place-content: center;
        color: map-get($map: $brand-clr, $key: light);
        // place-items: center;
        img {
            // max-width: 100vw;
            width: 100%;
        }
        

        grid-template-areas: 
        "title"
        "pic1"
        ;

        &--title {
            grid-area: title;
            padding: 2rem 0;
            font-size: larger;
            background-color: map-get($map: $brand-clr, $key: blue);
            z-index: 2;
        }
        

        &--pic1 {
            grid-area: pic1;
        }


        &--list {
            z-index: 2;
            grid-area: pic1;
            place-self: center;
            > * {
                padding: 2rem;
            }
        }
    }

    &__description {
        display: flex;
        flex-direction: column;
        padding: 2rem 0 1rem 0;
        > :last-child{
            padding: 3rem 0;
        }

        &--title {
            background: map-get($map: $brand-clr, $key: light-blue);
            color: map-get($map: $brand-clr, $key: light);
            padding: 1.25rem 0;
        }
        
    }

    &__provided { //pic are 2 12 3
        
        * > ::marker {
            content: "\2713";
            font-size: 1.4rem;
        }

        > * {
            padding: 2rem 0;
            color: map-get($map: $brand-clr, $key: light);
            .heading {
                color: map-get($map: $brand-clr, $key: light-blue);
            }
            @include CSAfter;
            &::after {
                background-color: rgba(0, 0, 0, 0.7);
                z-index: -1;
            }
        }

        &--plumbing {
            @include CSBeforeUrl ("../images/ip-job-12.jpg");
        }
        &--installations {
            @include CSBeforeUrl ("../images/ip-job-2.jpg");
        }
        &--repairs {
            @include CSBeforeUrl ("../images/ip-job-3.jpg");
        }
        
    }
}