.services {
    display: flex;

    &__header {
        display: grid;
        
        

        // &::before {
        //     background: rgba(0, 0, 0, 0.678);
        //     z-index: 2;
        // }

        grid-template-columns: 1fr;
        // grid-template-rows: .5fr 1fr 1fr 1fr;
        grid-template-rows: repeat(auto-fit, minmax(100px, auto-fit)) ;
        // place-content: center;
        color: map-get($map: $brand-clr, $key: light);
        // place-items: center;
        // img {
        //     // max-width: 100vw;
        //     width: 100%;
        //     height: 100%;
        // }
        

        grid-template-areas: 
        "title"
        "list"
        ;

        &--title {
            grid-area: title;
            margin: 3rem auto;
            border-radius: 13px;
            padding: 2rem 5rem ;
            font-size: larger;
            background-color: map-get($map: $brand-clr, $key: blue);
            z-index: 2;
            place-self: center;
        }
        

    


        &--list {
            grid-area: list;
            > * {
                padding: 2.5rem;
            }
            @include CSBeforeUrl ("../images/ip-job-1.jpg");
            &::before {
                
                z-index: -2;

            }
            
            @include CSAfter;
            &::after {
                background: rgba(0, 0, 0, 0.65);
                z-index: -1;
            }
            
            
            
        }
    }

    &__description {
        display: flex;
        flex-direction: column;
        padding: 2rem 0 1rem 0;
        > :last-child{
            padding: 3rem 0;
        }

        &--title {
            place-self: center;
            margin: 2rem auto 0;
            border-radius: 13px;
            padding: 1.5rem 2.5rem;
            max-width: 90vw;
            font-size: larger;
            background: map-get($map: $brand-clr, $key: light-blue);
            color: map-get($map: $brand-clr, $key: light);
            
        }
        
    }

    &__provided { //pic are 2 12 3
        
        * > ::marker {
            content: "\2713";
            font-size: 1.4rem;
        }

        > * {
            margin: 0 auto 2rem;
            max-width: 90vw;
            padding: 2rem .3rem;
            color: map-get($map: $brand-clr, $key: light);
            .heading {
                color: map-get($map: $brand-clr, $key: light-blue);
            }
          
            @include CSAfter;
            &::after {
                background-color: rgba(0, 0, 0, 0.7);
                z-index: -1;
            }
        }

        &--plumbing {
            @include CSBeforeUrl ("../images/ip-job-12.jpg");
        }
        &--installations {
            @include CSBeforeUrl ("../images/ip-job-2.jpg");
        }
        &--repairs {
            @include CSBeforeUrl ("../images/ip-job-3.jpg");
        }
        
    }


}

.servicescta {
    display: flex;
    flex-direction: column;
    
    > * {
        padding: 2rem 0;
    }
    
    &__title {
        align-self: center;
    }

    &__info {
        text-align: center;
        
        &--phone {
             a {
                color: map-get($map: $brand-clr, $key: dark);
            }
            padding-bottom: 2rem;
        }
        &--social {
            display: flex;
            justify-content: space-evenly;
        }
    }

    &__form {
        border: 5px solid map-get($map: $brand-clr, $key: blue);
        
    }
}