@import "csbuttons";
@import "reset";

.home__hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 38, 63, 0.9);
    color: #fff;
    margin-bottom: 100px;
    min-height: 100vh;
    overflow: hidden;
    position: relative;

    &--heading {
        font-size: 48px;
    }

    &--video {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        // bottom: 0;
        // right: 0;
        min-width: 100%;
        min-height: 100%;
        z-index: -1;
    }
}

.services {

    display: flex;
    flex-direction: column;
    min-height: 50vh;

    &__heading {
        align-self: center;
        font-size: 48px;
        padding: 20px 0;
    }

    &__service {
        display: flex;
        padding: 100px 0;
        justify-content: space-evenly;
        color: blueviolet;

        &--card {
            
            max-width: 20vw;
        }
    }


}