//frameworks
@import "csreset";
@import "csglobals";
@import "cscomponents";
@import "cscolors";
@import "cstypography";

//local
@import 'variables';
@import 'globals';
@import 'typography';
@import 'components';
@import 'animations';


@import 'nav';
@import 'footer';
@import 'cta';

//pages
@import 'index';
@import 'services';
@import 'contact';


//debug
@import 'debug';

.wrapper {
    
    width: 100%;
    margin: 0 auto;
    max-width: 1500px;
    
}


