@import "csbuttons";

.home__hero {
    display: flex;

    position: relative;

    &--video {
        position: absolute;
        top: 0;
        left: 0;
        
        
        min-width: 100%;
        min-height: 100%;
        z-index: -1;
    }
}